---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Welcome from '../components/Welcome.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import TechSkills from '../components/TechSkills.astro';
import Education from '../components/Education.astro';
import Footer from '../components/Footer.astro';
import FabScrollToTop from '../components/FabScrollToTop.astro';

---

<Layout>	
	<Header />
	<main class="w-full h-full">	
		<Welcome />
		<About />
		<Experience />
		<Education />
		<Skills />
		<TechSkills />
		<Projects />
	</main>
	<Footer />
	<FabScrollToTop />
</Layout>
