<section id="about" class="bg-white dark:bg-black py-24 px-10 lg:px-32 flex flex-wrap">
    <div class="md:mx-10 w-full flex flex-col">
        
        <h3 class="text-black/60 dark:text-white text-xl font-bold mb-4">
            <span class="text-secondary-500 dark:text-primary-500 font-bold">|</span> About me
        </h3>
        <p class="text-black/60 dark:text-white mb-20 text-sm md:text-lg">Know my career:</p>

        <div class="flex items-center w-full flex-row gap-10 flex-wrap">
            <div class="flex justify-center items-center flex-col w-full md:w-1/5 hover:scale-150 transition sm:h-full">
                <h4 class="text-secondary-500 dark:text-primary-500 sm:text-7xl text-6xl font-bold">
                    +6
                </h4>
            </div>

            <div class="flex flex-col flex-1 w-full md:w-4/5">
                <p class="text-black/60 dark:text-white text-sm md:text-lg text-center md:text-start md:mr-2">
                    For over <span class="text-secondary-500 dark:text-primary-500 font-bold">six years</span>, 
                    I’ve specialized in 
                    <span class="text-secondary-500 dark:text-primary-500 font-bold">frontend web development</span>, 
                    transforming ideas into custom digital solutions for companies across various industries. 
                    My passion lies in creating interfaces that are not only 
                    <span class="text-secondary-500 dark:text-primary-500 font-bold">visually striking</span> 
                    but also 
                    <span class="text-secondary-500 dark:text-primary-500 font-bold">intuitive and functional</span>, 
                    ensuring an exceptional user experience.
                </p>
                <p class="text-black/60 dark:text-white text-sm md:text-lg text-center md:text-start md:mr-2 mt-4">
                    As a <span class="text-secondary-500 dark:text-primary-500 font-bold">Computer Engineer</span>, 
                    I’ve developed a strong technical foundation. Since 2019, I’ve been immersed in the 
                    <span class="text-secondary-500 dark:text-primary-500 font-bold">React.js</span> 
                    ecosystem, building modern and efficient web applications, while also gaining experience with other frontend frameworks like 
                    <span class="text-secondary-500 dark:text-primary-500 font-bold">Next.js, Angular, and Vue.js.</span>
                </p>
            </div>
        </div>

    </div>
</section>
