---
type Props = {
    id?: string;
}

---

<button 
    {...Astro.props} 
    type="button" 
    class="
      bg-gray-200 hover:bg-gray-300
        dark:bg-withe/5 dark:hover:bg-white/10
        border dark:border-white/10 border-gray-500
        hover:scale-105 transition
        rounded-lg p-2 text-center inline-flex items-center cursor-pointer
">
    <slot />
</button>