<header class="flex justify-center items-center px-10 lg:px-32 py-5 w-full">
    <nav class="sm:flex flex-row justify-center items-center sm:gap-x-10 grid gap-y-2 sm:gap-y-0 text-center">
        <a class="opacity-80 hover:opacity-100" href="#home">Home</a>
        <a class="opacity-80 hover:opacity-100" href="#about">Sobre mí</a>
        <a class="opacity-80 hover:opacity-100" href="#experience">Experiencia</a>
        <a class="opacity-80 hover:opacity-100" href="#education">Educación</a>
        <a class="opacity-80 hover:opacity-100" href="#mainSkills">Habilidades</a>
        <a class="opacity-80 hover:opacity-100" href="#projects">Proyectos</a>
    </nav>
</header>