---
import ProjectCard from "./ProjectCard.astro"
import { projects } from '../data';
---

<section id="projects" class="bg-section py-24 px-10 lg:px-32 flex flex-wrap w-full">
    <div class="md:mx-10 w-full flex flex-col">
        <h3 class="text-black/60 dark:text-white text-xl font-bold mb-20">| Proyectos</h3>

        <div class="flex flex-row flex-wrap gap-5 sm:justify-between justify-center">
            {projects.map((project) => (
                <ProjectCard project={project} />
            ))}
        </div>

    </div>
</section>
