---
import SkillCard from "./SkillCard.astro"
---

<section id="mainSkills" class="section-bg py-24 px-10 lg:px-32 flex flex-wrap">
    <div class="md:mx-10 w-full flex flex-col">
        <h3 class="text-xl font-bold mb-20">| Principales habilidades</h3>
        
        <div class="flex flex-row w-full flex-wrap justify-center gap-4">
            <SkillCard 
                title="Desarrollo de aplicaciones web y móvil" 
                description=`Implementação de softwares (Power BI, TMS e WMS), 
                concorrência de fornecedores (BID) e otimização de processos logísticos.` 
            />
            <SkillCard 
                title="Desarrollo de sitios web estáticos" 
                description=`Implementação de softwares (Power BI, TMS e WMS), 
                concorrência de fornecedores (BID) e otimização de processos logísticos.` 
            />
            <SkillCard 
                title="Desarrollo responsive" 
                description=`Implementação de softwares (Power BI, TMS e WMS), 
                concorrência de fornecedores (BID) e otimização de processos logísticos.` 
            />
            <SkillCard 
                title="Consumo de APIs" 
                description=`Implementação de softwares (Power BI, TMS e WMS), 
                concorrência de fornecedores (BID) e otimização de processos logísticos.` 
            />
        </div>
        
    </div>
</section>