---
interface Props{
    icon?: any;
    title?: string
    description?: string
}
const Icon = Astro.props.icon
---

<!-- To set the column width in a different way  xl:w-1/5 w-full  -->

<div class="
    flex-1
    rounded-xl bg-green-color 
    pr-5 pb-5 pl-5 pt-10 
    flex flex-col
    hover:scale-105 transition
">
    <Icon class="sm:size-10 size-6 mb-3" />
    <h6 class="uppercase text-white font-bold sm:text-lg text-base mb-1">{Astro.props.title || ''}</h6>
    <p class="text-white sm:text-base text-sm">{Astro.props.description || ''}</p>
</div>