---
import SkillCard from "@/components/SkillCard.astro";
import { mainSkills } from "@/data";
---

<section id="mainSkills" class="bg-section py-24 px-10 lg:px-32 flex flex-wrap">
    <div class="md:mx-10 w-full flex flex-col">
        <h3 class="text-black/60 dark:text-white text-xl font-bold mb-20">
            <span class="text-secondary-500 dark:text-primary-500 font-bold">|</span>
            Main skills
        </h3>
        
        <div class="flex flex-row w-full flex-wrap justify-center gap-4">
            {mainSkills.map((ski) => (
                <SkillCard 
                    icon={ski.icon}
                    title={ski.title} 
                    description={ski.description}
                />
            ))}
        </div>
        
    </div>
</section>
