---
interface Props{
    href?: string
    class?: string
}
---

<a 
    href={Astro.props.href || null} 
    target="_blank" 
    rel="noopener noreferrer"
    class={`
        flex justify-center items-center py-2 px-4 gap-x-2 
        bg-transparent hover:bg-pink-50 
        border-pink-200 hover:border-secondary-400
        dark:bg-white/5 dark:hover:bg-white/10 dark:border-white/10
        border rounded-full hover:scale-105 transition 
        sm:text-sm text-xs 
        text-black/60 hover:text-secondary-400
        dark:text-white
        ${Astro.props.href && 'cursor-pointer'} ${Astro.props.class || ''}
    `}
>
    <slot />
</a>