 <div class="flex py-2 px-4 gap-x-2 justify-center items-center 
    bg-withe/5 rounded-full border border-white/10
    hover:bg-white/2 green-text-skill green-border-skill
    hover:scale-105 transition
    sm:text-sm text-xs
">
    <slot />
</div>

<style>
    .green-text-skill:hover{
        color: #5A924E;
    }

    .green-border-skill:hover{
        border-color: #5A924E !important;
    }
</style>