---
import GithubIcon from '@/components/icons/GithubIcon.astro';
import LinkedinIcon from '@/components/icons/LinkedinIcon.astro';
import MailIcon from '@/components/icons/MailIcon.astro';
import SocialMediaButton from '@/components/SocialMediaButton.astro';
import ActionButton from '@/components/ActionButton.astro';
import CvIcon from '@/components/icons/CvIcon.astro';

---

<section id="home" class="
	bg-section
	px-10 lg:px-32 w-full 
	lg:h-[720px] 
	xl:h-[670px] 
	sm:flex block sm:flex-row sm:items-center
">
	<div class="w-full sm:w-1/2 flex flex-col md:ml-10 py-10">

		<div class="flex flex-row items-center">
			<h4 class="text-black/60 dark:text-white text-sm md:text-lg font-light mb-3">
				{`Hello, I'm`}
			</h4>
		</div>
		
		<h1 class="title-name text-4xl md:text-6xl font-extrabold mb-2">
			Rosiris Romero
		</h1>
		<h2 class="text-black/60 dark:text-white text-lg sm:text-2xl md:font-normal font-semibold mb-2">
			Frontend Developer
		</h2>
		<h3 class="text-black/60 dark:text-white text-sm md:text-[16px] font-normal mb-5">
			Specialist in creating beautiful, interactive and functional interfaces.
		</h3>

		<nav class="flex xl:gap-x-4 xl:gap-y-0 gap-x-2 gap-y-2 mb-10 flex-wrap">
			<SocialMediaButton href="https://www.linkedin.com/in/rosirisvrm/">
				<LinkedinIcon class='sm:size-4 size-3' />
				Linkedin
			</SocialMediaButton>
			<SocialMediaButton href="https://github.com/rosirisvrm">
				<GithubIcon class='sm:size-4 size-3' />
				Github
			</SocialMediaButton>
			<SocialMediaButton href="mailto:rosirisvrm@gmail.com">
				<MailIcon class='sm:size-4 size-3' />
				rosirisvrm@gmail.com
			</SocialMediaButton>
		</nav>
		
		<ActionButton id="cv-button" href='public/Rosiris-Romero-CV.pdf' target="_blank" widthStyles='w-52'>
			<CvIcon class="sm:size-4 size-3" />
			Download my CV
		</ActionButton>
	</div>
	
	<div class="
		w-full 
		sm:w-1/2 
		lg:h-[770px] 
		xl:h-[720px] 
		flex justify-center items-center pb-6 sm:pb-0">
		<div class="
			bg-secondary-500 dark:bg-primary-800 
			xl:size-96
			lg:size-80 
			size-60
			rounded-full flex justify-center items-center hover:scale-105 transition shadow-lg
		">
			<div class="
				bg-gradient
				xl:size-80
				lg:size-72
				size-52 
				rounded-full flex justify-center items-center"
			>
				<div class="size-48 lg:size-72 rounded-full overflow-hidden relative">
					<img src="/pink_profile_pic.png" alt="Profile Pic" class="absolute block dark:hidden" style="top: -35px" />
					<img src="/profile_pic.png" alt="Profile Pic" class="absolute hidden dark:block" style="top: -35px" />
				</div>
			</div>
		</div>
	</div>
</section>
