---
// import UserIcon from '../components/icons/UserIcon.astro';
import GithubIcon from './icons/GithubIcon.astro';
import LinkedinIcon from './icons/LinkedinIcon.astro';
import MailIcon from './icons/MailIcon.astro';
import SocialMediaButton from './SocialMediaButton.astro';
import ActionButton from './ActionButton.astro';
import CvIcon from './icons/CvIcon.astro';

---

<section id="home" class="
	section-bg px-10 lg:px-32 w-full 
	lg:h-[720px] 
	xl:h-[670px] 
	sm:flex block sm:flex-row sm:items-center sm:overflow-y-hidden sm:overflow-x-hidden">
	
	<div class="w-full sm:w-1/2 flex flex-col md:ml-10 py-10">

		<h4 class="text-white text-sm md:text-lg font-light mb-3">
			Hola, mi nombre es
		</h4>
		<h1 class="name-color text-4xl md:text-6xl font-extrabold mb-2">
			Rosiris Romero
		</h1>
		<h2 class="text-lg sm:text-2xl md:font-normal font-semibold mb-2">
			Desarrolladora Frontend
		</h2>
		<h3 class="text-sm md:text-[16px] font-normal mb-5">
			Especialista en crear aplicaciones web bonitas e interactivas.
		</h3>

		<nav class="flex xl:gap-x-4 xl:gap-y-0 gap-x-2 gap-y-2 mb-10 flex-wrap">
			<SocialMediaButton href="https://www.linkedin.com/in/rosirisvrm/">
				<LinkedinIcon class='sm:size-4 size-3' />
				Linkedin
			</SocialMediaButton>
			<SocialMediaButton href="https://github.com/rosirisvrm">
				<GithubIcon class='sm:size-4 size-3' />
				Github
			</SocialMediaButton>
			<SocialMediaButton href="mailto:rosirisvrm@gmail.com">
				<MailIcon class='sm:size-4 size-3' />
				rosirisvrm@gmail.com
			</SocialMediaButton>
		</nav>
		
		<ActionButton href='public/Rosiris-Romero-CV.pdf' target="_blank">
			Descarga mi CV
			<CvIcon class="sm:size-4 size-3" />
		</ActionButton>
	</div>
	
	<div class="
		w-full 
		sm:w-1/2 
		lg:h-[770px] 
		xl:h-[720px] 
		flex justify-center items-center pb-6 sm:pb-0">
		<div class="
			img-container 
			xl:size-96
			lg:size-80 
			size-60
			rounded-full flex justify-center items-center hover:scale-105 transition"
		>
			<div class="
				bg-gradient
				xl:size-80
				lg:size-72
				size-52 
				rounded-full flex justify-center items-center"
			>
				<div class="size-48 lg:size-72 rounded-full overflow-hidden relative">
					<img src="/profile_pic.png" alt="" class="absolute" style="top: -35px" />
				</div>
			</div>
		</div>
	</div>
</section>

<style>
	.name-color{
		background: linear-gradient(to right, #5A924E, #B1CBAB);
  		-webkit-background-clip: text;
  		color: transparent;  
	}

	.button-bg{
		background-color: #5A924E;
	}

	.img-container{
		background-color: #27302E;
	}

	.img-inner-container{
		background-color: #252e2dff;
	}

	.bg-gradient{
		background: linear-gradient(to right, #5A924E, #B1CBAB);
	}
</style>