---
import '../styles/global.css';
import '@fontsource-variable/dm-sans';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/girl.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Rosiris Romero | Frontend Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
 	:root{
		color-scheme: light dark;
 	}
	html {
		font-family: 'DM Sans Variable', sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background-color: #000;
	}
	.section-bg{
		background-color: #131313;
	}
	.bg-green-color{
		background-color: #5A924E
	}
	.green-color{
		color: #5A924E
	}
	.project-card-bg{
        background-color: #27302E;
    }

	/* Light theme */

	/* body {
      background-color: #FFF0F5;
	}
    .custom-pink {
      background-color: #FFC0CB;
	}
    .custom-pink-light {
      background-color: #FFE4E1;
	} */
    /* .custom-pink-dark {
      background-color: #DB7093;
	} */
    .custom-text-pink {
      color: #DB7093;
	}
    .custom-text-dark-pink {
      color: #C71585;
	}
    /* .custom-text-gray {
        color: #4A5568;
	}
    .custom-border-pink {
        border-color: #DB7093;
    } */
</style>
