---
import '../styles/global.css';
import '@fontsource-variable/dm-sans';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/girl.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Rosiris Romero | Frontend Developer</title>
	</head>
	<body>
		<slot />

		<!-- Script para inicializar dark mode -->
    	<script>
			// Función para inicializar dark mode
			function initializeDarkMode() {
				const savedTheme = localStorage.getItem('theme');
				const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
				
				if (savedTheme === 'dark' || (!savedTheme && prefersDark)) {
					document.documentElement.classList.add('dark');
				}
			}

			// Ejecutar inmediatamente para evitar flash
			initializeDarkMode();
    </script>
	</body>
</html>

<style is:global>
 	:root{
		color-scheme: light dark;
 	}
	html {
		font-family: 'DM Sans Variable', sans-serif;
		scroll-behavior: smooth;
	}
</style>
